body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#mainpage{

}


a:hover{
  /* color: #874A5B; */
}

a{
  font-size: 1.1em;
 
  
}

#navbar{
  display: flex;
  justify-content: space-evenly;
  color: #050606;
  
  /* margin-top: 1.5em; */
  padding: 1.3em;
  background-color: #E3CDBC;
  ;
  /* margin-right: 5em; */
  /* padding-left: 20em; */
}

.website-name{
  display: flex;
  /* text-align: center; */
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: 0.1em;
  /* margin-left: 5em; */
}

.searchbar{
  margin-left: 10em;
}

.searchbutton{
  /* margin-right: 6em; */
  width: 5.5em;


}

.mr-sm-2{
  margin-right: 30em;
}

.title{
padding: 1.5em;
text-align: center;
}

.form{
  margin-top: -2em;
  text-align: center;
}
.username{
  margin: 1em;
}

.password{
}

.usernameInput {
  background-color: #FAFAFA;
  border-width: 0.1em;
  border-radius: 0.8em;
  border-style:hidden;
  height:2.2em;
  width: 13.8em;
  margin-left: 0.6em;
  font-size: medium;
}

.passwordInput {
  background-color: #FAFAFA;
  border-width: 0.1em;
  border-radius: 0.8em;
  border-style: hidden;
  height: 2.2em;
  width: 13.8em;
  margin-left: 0.9em;
  margin-top: 0.5em;
  font-size: medium;
}

.displayUsername{
  text-align: center;
  display: flex;
  margin-top: -10em;
  margin-left: 2em;
}

.submitButton{
  background-color: #874A5B;
  color: #ECF1EB;
  height: 2.2em;
  border-width: 0.1em;
  border-radius: 0.8em;
  width: 13.8em;
  margin-left: 5em;
  /* font-size: large; */
}